{%extends 'b.html'%}
{%block content%}
<div class="mb">
    <h2 style="margin-left: 45%; color: white;">Chat Room:{{code}}</h2>
    <div class="messages" id="messages" style="border: solid linear-gradient(to right, #bd4ab1, #cb6ad5 ) ; background: linear-gradient(to right, #bd4ab1, #cb6ad5); border-radius: 2%; margin-left: 20%; margin-right: 20%; margin-top: -260px; color: white; ">
    <div class="input" style=" margin-left: 20%;  ">
        <input type="text" rows="3" placeholder="Message" name="message" id="message" style="width: 85%; margin-top: 38%; margin-left: 1%; margin-bottom: 5%;"/>
        <button type="button" class="btn btn-success"  style="margin-left: 1%;" name=" send" id="set-btn" onclick="sendMessage()">send</button>
    </div>
    </div>
</div>
<script type="text/javascript">
    var socketio= io();
    const messages = document.getElementById("messages")
    const createMessage = (name, msg)=>{
        const content = `<div class ="text">
            <span><strong>${name}</strong>:${msg}</span>
            <span class ="muted">
                ${new Date().toLocaleString()}
                </span>
            <div> `;
    messages.innerHTML+=content;
    }
    socketio.on("message",(data)=>{
createMessage(data.name,data.message);
});
    const sendMessage=()=>{
      const message= document.getElementById("message")
      if(message.value=="")return;
      socketio.emit("message",{data: message.value})
      message.value="";
    };
</script>
{%endblock%}